<header class="p-2 fixed-top border-bottom bg-light">
    <div class="container d-flex flex-row">
      <a class="me-auto ml-1"  href="main.html">
        <img id="logo" src="./images/logo.png" alt="">
      </a>
          <div class="badge fs-1 primary"><span id="lvl">Lvl</span><a href="profile.html" id="pp" class="link-dark text-decoration-none">
            <img src="./images/blankUser.png" id="profilePic" alt="" width="55" height="55" class="rounded-circle">
          </a></div>
        </div>
      </div>
    </div>
  </header>