<nav class="navbar navbar-expand fixed-bottom navbar-light bg-success-subtle">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="quests.html"><span class="material-symbols-outlined">receipt_long</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="material-symbols-outlined">monetization_on</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="main.html"><span
                            class="material-symbols-outlined">home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"><span
                            class="material-symbols-outlined">trophy</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="search.html" tabindex="-1" aria-disabled="true"><span
                            class="material-symbols-outlined">search</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>