<nav class="navbar navbar-expand fixed-bottom navbar-light primary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="activities.html"><span class="material-symbols-outlined">receipt_long</span><span class="icon-text">Activities</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="rewards.html"><span class="material-symbols-outlined">monetization_on</span><span class="icon-text">Rewards</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="main.html"><span
                            class="material-symbols-outlined">home</span><span class="icon-text">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="achievement.html" tabindex="-1" aria-disabled="true"><span
                            class="material-symbols-outlined">trophy</span><span class="icon-text">Achievements</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="search.html" tabindex="-1" aria-disabled="true"><span
                            class="material-symbols-outlined">search</span><span class="icon-text">search</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>