.progress p {
    padding: 0 1em;
}

.btn-badge {
    display: block;
    align-self: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    outline: none;
    transition: all 0.5s;
    animation-iteration-count: 1;
}

.btn-badge:active {
    transform: scale(1.1);
}

.btn-badge img {
    max-width: 100%;
    border-radius: 50%;
}

.particle {
    position: absolute;
}

.particle {
    width: 40px;
    height: 45px;
    text-align: center;
    animation: particle-animation 3s ease-out;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

@keyframes particle-animation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
        transform: translateY(200%);
    }
}

.history {
    max-height: 7em;
}
